*{
    font-family:Arial, Helvetica, sans-serif;
}
.flip-container{
    width:100%;
    max-width: 400px;
    aspect-ratio: 4/3;
    perspective: 1000px;
    cursor: pointer;
    margin: 0 auto;
}
.flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition:0.6s ease;
}
.flip-card.is-flipped{
    transform: rotateY(180deg);
}
.flip-card-face{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding: 24px;
    border-radius: 8px;
  backface-visibility: hidden;
}
.flip-card-front{
    background-color:rgb(213, 233, 247);
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 5px;
}
.flip-card-back{
    background: #14b5ff;
    transform: rotateY(180deg);
}
pre{
    font-size: 1.1rem;
}
.nav-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    max-width: 300px;
    margin: auto;
}
.nav-controls button{
    padding: 8px 16px;
    border: none;
    background: none;
    color:#00687b ;
    font-weight: 600;
    cursor: pointer;
}
.nav-controls button:disabled{
    opacity: 0.3;
    cursor: not-allowed;
}
.nav-dots{
    display: flex;
    gap: 8px;
}
.dot{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #bbc9ce;
    transition: 0.3s ease;
}
.dot-active {
  background: #00687b;
  width: 20px;
  border-radius: 4px;
}
.action-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 24px;
  max-width: 600px;
  margin-inline: auto;
}
.action-buttons button {
  padding: 16px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition:0.15s ease;
}
.action-buttons button:hover{
    box-shadow:1px 2px 4px rgba(0, 0, 0, 0.384) ;
}
.action-buttons button:active{
    transform: scale(0.95);
}
.mastered {
  background: #00687b;
  color: white;
}

.review {
  background: #fce425;
  color: #716500;
}